form.signup,
form.login {
  margin-top: 50px;
}
.welcome,.member-name {
  color: antiquewhite;
}

.jumbotron {
  background-image: url("/assets/img/macchiato.jpg");
  color: antiquewhite;
  border-radius: 20px;
}
#map {
  margin: 20px;
  height: 500px;
  width: 500px;
  border-radius: 20px;
}

.card {
  margin-bottom: 20px;
  width: 33.33%;
}

#coffeeImg {
  margin: 10px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.btn {
  border-radius: 20px;
  margin-left: 10px;
}


@media screen and (max-width:768px) {
  .card {
    width: 100%;
  }
  #coffeeImg {
    margin: 20px;
    width: 40%;
    height: 40%;
  }

}
